@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
html {
    font-family: 'Inter', sans-serif;
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

.spin_words {
    animation: word_spin 20s infinite;
}

#wave:active {
    animation: shake 1s infinite;
}

@keyframes shake {
    10%, 90% {
        transform: rotate3d(0, 0, 1, -15deg);
    }
    
    20%, 80% {
        transform: rotate3d(0, 0, 0, 15deg);
    }
  
    30%, 50%, 70% {
        transform: rotate3d(0, 0, 1, -15deg);
    }

    40%, 60% {
        transform: rotate3d(0, 0, 0, 15deg);
    }
}

@keyframes word_spin {
    0% {
        transform: translateY(-80%);
    }
    15% {
        transform: translateY(-180%)
    }
    20% {
        transform: translateY(-180%)
    }
    30% {
        transform: translateY(-280%)
    }
    40% {
        transform: translateY(-380%)
    }
    50% {
        transform: translateY(-480%)
    }
    60% {
        transform: translateY(-380%)
    }
    70% {
        transform: translateY(-280%)
    }
    85% {
        transform: translateY(-180%)
    }
    90% {
        transform: translateY(-180%)
    }
    100% {
        transform: translateY(-80%)
    }
}